:root {
  --nav-bg: #f5f5f5;
  --main-font: 'Montserrat', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 1rem;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}

.wrapper {
  padding: 0 5%;
}


.wrapper .navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-family: var(--main-font);
  font-weight: bold;
  padding: 0 1.5rem;
  background-color: var(--nav-bg);
  border-radius: 3px;
}

.navbar-wrapper .nav-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.nav-list {
  margin: 0 1rem;
}

.nav-cart {
  position: relative;
}

.nav-cart svg {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.cart-item-counter {
  position: absolute;   
  top: -20%;
  left: -20%;
  background-color: #fb5607; 
  height: 25px;
  width: 25px;
  border-radius: 50%;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
 

.nav-logo {
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav-list,
.nav-logo {
  cursor: pointer;
  text-transform: capitalize;
}


.nav-list a:hover {
  color: #444444;
}

@media all and (max-width: 774px) {
  .wrapper {
    padding: 0;
  }

  .wrapper .navbar-wrapper {
    font-size: 1rem;
  }

}